/* main components */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

/* main components*/
:root {
--bodyfont: 'Montserrat';
--fontsize: 1rem;
--maincolor: #ffeddf; 
--secondcolor: #AD343E;
--thirdcolor: #01295f;
}



/*loading code*/

@keyframes fakeloadinganimation{
  0%{
    width: 0px;
    top: calc(50vh - 50px);
    content: "Loading... please wait";
    transition: ease;
    text-align: left;
  }
  75%{
    width: 300px;
    top: calc(50vh - 50px);
    content: "Loading... please wait";
    text-align: center;
  }
  75.1%{
    width: 300px;
    top: calc(50vh - 50px);
    content: "Done!";
    text-align: center;
  }
  85%{
    top: calc(50vh - 100px);
    width: 300px;
    content: "Done!";
    text-align: center;
  }
  100%{
    top: calc(150vh - 50px);
    width: 300px;
    content: "Done!";
    text-align: center;
  }
}
html::before{
  content: "Loading... please wait";
  height: 100px;
  position: fixed !important;
  margin: 0px;
  padding: 0px;
  top: calc(150vh - 50px);
  left: calc(50vw - 150px);
  background-color: #ffeddf;
  color: #ffeddf !important;
  line-height: 100px;
  white-space: nowrap;
  font-size: 30px !important;
  z-index: 1000000000 !important;
  animation: fakeloadinganimation 2s ease !important;
  width: 300px !important;
  box-shadow: 0px 0px 0px 5px white, 0px 50vw 0px calc(50vw + 50vh - 50px) #AD343E, 0px 0px 0px 5px white !important; 
  display: block !important;
}
html::after{
  content: "Loading... please wait";
  height: 100px;
  width: 0px;
  position: fixed !important;
  margin: 0px;
  padding: 0px;
    top: calc(150vh - 50px);
  left: calc(50vw - 150px);
  background-color: #ffeddf;
  color:#01295f !important;
  line-height: 100px;
  z-index: 1000000001 !important;
  white-space: nowrap;
  font-size: 30px !important;
  animation: fakeloadinganimation 2s ease !important;
  overflow: hidden !important;
}

/*loading animation*/ 

/*main page*/

/*h1 */
body{
  background-color: var(--maincolor);
}
h1{
  font-family: var(--bodyfont);
}
p{
  font-family: var(--bodyfont);
}
.my-button {
  display: inline-block;
  margin: 10px; /* space between buttons */
  background: var(--secondcolor); /* background color */
  color: var(--thirdcolor); /* text color */
  font-size: 1.5em;
  font-family: var(--bodyfont);
  font-style: italic;
  border-radius: 50px; /* rounded corners */
  padding: 25px 50px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.my-button:hover {
  background: var(--thirdcolor);
  color: #c1e1e0;
}