/* main components */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

/* main colors - components*/
:root {
--bodyfont: 'cursive';
--fontsize: 1rem;
--maincolor: #ffeddf; 
--secondcolor: #4e77b6;
--thirdcolor: #01295f;
--fourthcolor: #ffffff;
}



/*loading code, different text at different times*/

@keyframes fakeloadinganimation{

  0%{
    width: 0px;
    top: calc(50vh - 50px);
    content: "Loading...";
    transition: ease;
    text-align: left;
  }
  75%{
    width: 300px;
    top: calc(50vh - 50px);
    content: "Loading...";
    text-align: center;
  }
  75.1%{
    width: 300px;
    top: calc(50vh - 50px);
    content: "Done!";
    text-align: center;
  }
  85%{
    top: calc(50vh - 100px);
    width: 300px;
    content: "Done!";
    text-align: center;
  }
  100%{
    top: calc(150vh - 50px);
    width: 300px;
    content: "Done!";
    text-align: center;
  }
}


/* Characterstics of Loading Text*/
html::before{
  height: 100px;
  position: fixed !important;
  padding: 0px;
  margin: 0px;  
  content: "Loading...";
  font-size: 30px !important;
  line-height: 100px;
  top: calc(150vh - 50px);
  left: calc(50vw - 150px);
  white-space: nowrap;
  animation: fakeloadinganimation 2s ease !important;

  z-index: 1000000000 !important;
  display: block !important;

  width: 300px !important;
  background-color: var(--maincolor);
  color: var(--maincolor) !important;
  box-shadow: 0px 0px 0px 5px rgb(17, 17, 17), 0px 50vw 0px calc(50vw + 50vh - 50px) #e7d10b, 0px 0px 0px 5px white !important; 

}

html::after{
  height: 100px;
  position: fixed !important;
  padding: 0px;
  margin: 0px;  
  content: "Loading...";
  font-size: 30px !important;
  line-height: 100px;
  top: calc(150vh - 50px);
  left: calc(50vw - 150px);
  white-space: nowrap;
  animation: fakeloadinganimation 2s ease !important;

  z-index: 1000000001 !important;
  overflow: hidden !important;

  width: 0px;
  background-color: #86c53d;
  color:#01295f !important;
}

/*loading animation*/ 

/*main page*/
/*colors for different text*/

body{
  background-color: var(--maincolor);
}
h1{
  font-family: var(--bodyfont);
  text-align: center;
}
h2{
  font-family: var(--bodyfont);
}
p{
  font-family: var(--bodyfont);
}
div{
  font-family: var(--bodyfont);
}

#es {
  background-image: url('https://th.bing.com/th/id/R.3a06df07f838a682218120bb944d00a6?rik=O3rXoaltgTj2TQ&riu=http%3a%2f%2fwww.rcenvirolab.com%2fwp-content%2fuploads%2f2019%2f02%2foutloud_soil2.jpg&ehk=5UHe0BIF8PCoG2H1p8YFdP6Y9F49UML5HpxSviK%2fObw%3d&risl=&pid=ImgRaw&r=0');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

/* buttons */
.button {
  border: solid;
  border-color: var(--fourthcolor);
  background-image: url("https://mrmoylan.com/assets/img/apcsp.jpg");
  background-size: 100%;
  display: inline-block;
  margin: 30px; /* space between buttons */
  /* background: var(--secondcolor); /* background color */
  color: var(--thirdcolor); /* text color */
  font-size: 1.5em;
  font-family: var(--bodyfont);
  font-style: italic;
  border-radius: 25px; /* rounded corners */
  padding: 100px 200px; /* space around text */
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/*Hover over button, change color*/
.button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
}

.button1 {
  border: solid;
  border-color: var(--fourthcolor);
  background-image: url("https://i.ytimg.com/vi/ZKiStP1IQaE/maxresdefault.jpg");
  background-size: 100%;
  display: inline-block;
  margin: 30px; /* space between buttons */
  /* background: var(--secondcolor); /* background color */
  color: var(--thirdcolor); /* text color */
  font-size: 1.5em;
  font-family: var(--bodyfont);
  font-style: italic;
  border-radius: 25px; /* rounded corners */
  padding: 100px 200px; /* space around text */
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/*Hover over button, change color*/
.button1:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
}

.button2 {
  border: solid;
  border-color: var(--fourthcolor);
  background-image: url("https://tinyurl.com/45ebsy8p");
  background-size: 100%;
  display: inline-block;
  margin: 30px; /* space between buttons */
  /* background: var(--secondcolor); /* background color */
  color: var(--thirdcolor); /* text color */
  font-size: 1.5em;
  font-family: var(--bodyfont);
  font-style: italic;
  border-radius: 25px; /* rounded corners */
  padding: 100px 200px; /* space around text */
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/*Hover over button, change color*/
.button2:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
}

.button3 {
  border: solid;
  border-color: var(--fourthcolor);
  background-image: url("https://i.ytimg.com/vi/rx9KEMcT16Q/maxresdefault.jpg");
  background-size: 100%;
  display: inline-block;
  margin: 30px; /* space between buttons */
  /* background: var(--secondcolor); /* background color */
  color: var(--thirdcolor); /* text color */
  font-size: 1.5em;
  font-family: var(--bodyfont);
  font-style: italic;
  border-radius: 25px; /* rounded corners */
  padding: 100px 200px; /* space around text */
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
/*Hover over button, change color*/
.button3:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
}
/* buttons */

/* dropdowns */
/*.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
*/
/* VARUN.question{
  font-size: 30px;
  /*text-align: center;*/
  /*position: sticky;*/
  /*margin-bottom: 10px;*
}*/
.answers{
  margin-bottom: 20px;
  text-align: center;
  /*position: sticky;*/
  display: inline-block;
}
.answers label{
  display: block;
 /* text-align: center;
  position: sticky;*/
  margin-bottom: 10px;
}


/* CSS Navigation Bar */
/*Centers "button" in the middle of the page
body {
/*Centers "button" in the middle of the page*/
/*body {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.question {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.question:hover {
  background-color: #223094;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

.answers {
  background-color: #199319;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}

.answers:hover {
  background-color: #223094;
}


*/